.dark-mode {
    background-color: #121212 !important;
    color: white !important;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
    background-color: #2c2c2c !important;
    color: white !important;
    border: 1px solid #555;
}